.desText{
    /* width: 50vw; */
    height: 10vh;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
}

.logoH1{
    display: flex;
    align-items: center;
    gap: .8rem;
}

.logo{
    font-size: 1.7rem;
    margin-left: -1rem;
}

.DescriptionDiv{
    padding: 1rem;
    border-radius: .5rem;
    /* width: 50vw; */
    height: 10vh;
    background-color: var(--ds-background-neutral,#091e420a);
    font-size: 18px;
    margin-left: 2.7rem;
}

.textAreaButtons{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content{
    margin-left: 2.7rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    word-break: break-all;
}