.reactQuill {
  height: 20vh;
}

.logoH1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-size: 1.7rem;
}

.DescriptionDiv {
  padding: 1rem;
  border-radius: 0.5rem;
  height: 10vh;
  background-color: var(--ds-background-neutral, #091e420a);
  font-size: 18px;
  margin-left: 2.7rem;
}

.textAreaButtons {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content {
  margin-left: 2.7rem;
}
