.mainContainer{
    /* border: 2px solid; */
    margin-top: 1rem;
    width: 60vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.2rem;
    /* border-radius: .7rem; */
    /* background-color: #0000;; */
}
.decription{
    margin: 2rem 0;
}