*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mainContainer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    color: mediumturquoise;
    background-color: rgba(197, 190, 190, 0.194);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-right: 1rem;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.h2{
    margin-left: 1rem;
}