*{
    margin: 0;
    padding: 0;
}
.dash_div{
    background-image: url("https://e0.pxfuel.com/wallpapers/356/696/desktop-wallpaper-plain-background-awesome-black-windows-10.jpg");
    /* width: 100vw; */
    min-height: 100vh;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.dash_div h1{
    color: white;
}
.dash_containor{
    /* border: 2px red solid; */
    max-width: 1350px;
    overflow: hidden;
    overflow-x: scroll;
    min-height: 500px;
    padding: 2rem 1rem;
    color: whitesmoke;
    display: flex;

}
.addbtn{
    /* border: 2px red solid !important; */
    min-width: 15vw !important;
    margin-left: 20px !important;
    height: 8vh;
    color: white !important;
    /* text-transform: lowercase !important; */
    background-color: rgba(197, 190, 190, 0.194) !important;
}
.addbtn:hover{
    background-color: rgb(174, 163, 163);
}
.addList_div{
    background-color: aliceblue;
    min-width: 15vw;
    height: 90px;
    border-radius: 10px;
    padding: 10px 1rem;
    margin-left: 20px;
    /* border: 2px red solid; */
    /* position: sticky;
    right: 0; */
}
.addList_div input{
    width: 95%;
    height: 30px;
    padding: 10px 10px ;
    font-size: large;
    border-radius: 5px;
}
.crossbtn{
    margin: 10px 0;
    display: flex;
}
.list_container{
    display: flex;
   
    gap: 20px;
}

.list_card{
   width: 18vw;
   /* heimin-ght: 90px; */
   border-radius: 10px;
   padding: 10px;
   /* border: 2px red solid ; */
    background-color: aliceblue;
    color: black;
    font-size: 25px;
}
.listName{
   /* cursor: pointer; */
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cardBtn{
  
    margin-top: 10px;
}
