* {
    margin: 0;
    padding: 0;
}

.dash_div {
    background-image: url("https://e0.pxfuel.com/wallpapers/356/696/desktop-wallpaper-plain-background-awesome-black-windows-10.jpg");
    /* width: 100vw; */
    min-height: 100vh;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

.dash_div h1 {
    color: white;
}
.dash_containor{
    /* border: 2px red solid; */
    max-width: 1350px;
    overflow: hidden;
    overflow-x: scroll;
    min-height: 500px;
    padding: 2rem 1rem;
    color: whitesmoke;
    display: flex;
    z-index: 9999;

}
.dash_containor::-webkit-scrollbar{
    display: none;

}
.addbtn{

    /* border: 2px red solid !important; */
    min-width: 15vw !important;
    /* margin: 20px 0 !important; */
    height: 7vh;
    /* color: white !important; */
    text-transform: initial !important;
    /* background-color: rgba(197, 190, 190, 0.42) !important; */
    background-color: aliceblue !important;
  
    
}
.addbtn:hover{
    background-color: rgb(174, 163, 163);
}

.addList_div {
    background-color: aliceblue;
    min-width: 15vw;
    /* width: 20vw; */
    height: 90px;
    border-radius: 10px;
    padding: 10px 1rem;
    z-index: 9999 !important;
    /* margin-left: 20px; */
    /* margin-right: 10px; */
    /* position: sticky;
    right: 0; */
}
.addList_div input{
    /* width: 95%; */
    height: 30px;
    padding: 10px 10px;
    font-size: large;
    border-radius: 5px;
    z-index: auto;
}

.crossbtn {
    margin: 10px 0;
    display: flex;
    z-index: 9999;
}

.list_container {
    display: flex;
   margin-right: 20px;
    gap: 20px;
    z-index: 9999;
}

.list_card{
   width: 18vw;
   /* heimin-ght: 90px; */
   border-radius: 10px;
   padding: 10px;
   /* border: 2px red solid ; */
    background-color: aliceblue;
    color: black;
    font-size: 25px;
    
}
.listName{
   cursor: pointer;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.cardBtn{
    
    margin-top: 10px;
}

.card {
    background-color: #f9f3f3;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    
  }
 
.listName p{
    color: aliceblue;
  
}
.listName p:hover{
    color: rgb(157, 16, 16);
    
}

.image{
    min-height: 100vh;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

